<div class="page-header">
  <h1>Delete User by Username</h1>
</div>

<div class="container">
    <form class="form" action='/deleted-user' method="POST">
       <div class="form-group">
          <label for="user_name">Name:</label>
          <input type="user_name" class="form-control" name="user_name">
       </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
    </form>
 <div id = "container3">
 <button type="submit" onclick="window.location.href = '/'" class= "button button1">Return to Home Page</button>
 </div>
  </div>