<div class="page-header">
  <h1>Delete Book by ID</h1>
</div>

<div class="container">
    <form class="form" action='/deleted-book' method="POST">
       <div class="form-group">
          <label for="id">ID:</label>
          <input type="id" class="form-control" name="id">
       </div>
     
         <button type="submit" class="btn btn-success float-right">Submit</button>
    </form>
    <div id = "container3">
 <button type="submit" onclick="window.location.href = '/'" class= "button button1">Return to Home Page</button>
 </div>
  </div>