<div class="page-header">

<h1>Library Management System</h1>

<div id="container4">
<h3>Action Completed</h3>
<img src="check.png" alt="green checkmark">
</div>
  <div id = "container5">
 <button type="submit" onclick="window.location.href = '/'" class= "button button1">Return to Home Page</button>
 </div>
</div>

