<div class="page-header">
  <h1>Books Found</h1>
  <td>
  <ul>
    {{#each bookList}}
      <li>Book ID: {{this.id}}, title: {{this.title}}, inventory count: {{this.inventory_count}}</li>
     
    {{/each}}
  </ul>
</td>
  </div>
  <div id = "container3">
 <button type="submit" onclick="window.location.href = '/'" class= "button button1">Return to Home Page</button>
 </div>
