<div class="page-header">
  <h1>Join A Chatroom</h1>
</div>

<div class="container">
    <form class="form" action='/forum' method="POST">
       <div class="form-group">
          <label for="username">Username:</label>
          <input type="username" class="form-control" name="username">
       </div>
     
         <button type="submit" class="btn btn-success float-right">Join</button>
    </form>
    <div id = "container7">
 <button type="submit" onclick="window.location.href = '/forum'" class= "button button1">Return to Home Page</button>
 </div>
  </div>