<div class="page-header">

<h1>Library Management System</h1>
<div id="container">
<h3>Manage Books</h3>
<button type="submit" onclick= "window.location.href = 'createBook'" class= "button button2">Create Book</button>
<button type="submit" onclick="window.location.href = 'viewBooks'" class= "button button2">All Books</button>
<button type="submit" onclick="window.location.href = 'findBook'" class= "button button2">Find Book By ID</button>
<button type="submit" onclick="window.location.href = 'updateBook'" class= "button button2">Update Book</button>
<button type="submit" onclick="window.location.href = 'deleteBook'" class= "button button2">Delete Book</button>
</div>

<div id = "container2">
<h3>Manage Users</h3>
<button type="submit" onclick="window.location.href = 'createUser'" class= "button button2">Create User</button>
<button type="submit" onclick="window.location.href = 'viewUsers'" class= "button button2">All Users</button>
<button type="submit" onclick="window.location.href = 'findUser'" class= "button button2">Find User By Username</button>
<button type="submit" onclick="window.location.href = 'updateUser'" class= "button button2">Update User</button>
<button type="submit" onclick="window.location.href = 'deleteUser'" class= "button button2">Delete User</button>
</div>

<div id = "container5">
<h3>User Book Exchange</h3>
<button type="submit" onclick="window.location.href = 'viewBorrowed'" class= "button button1">View Borrowed Books</button>
<button type="submit" onclick="window.location.href = 'borrowBook'" class= "button button1">Borrow A Book</button>
<button type="submit" onclick="window.location.href = 'returnBook'" class= "button button1">Return A Book</button>
</div>

<div id = "container6">
<h3>Library Forum</h3>
<button type="submit" onclick="window.location.href = 'forumList'" class= "button button1">Chatroom</button>

</div>

</div>
